.ItemDetailContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 98%;
    margin-bottom: 13%;
    margin-left: 15px;
    background: rgba(23, 23, 23, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}