@font-face {
    font-family:Ruthless Wreckin TWO;
    src: url(RuthlessWreckin2.ttf);
}



.clasecolores{
    background:
#ff0000
#e00000
#ffc340
#ff9800
#e28000
}

.navbar{
    background:wheat;
}

.bt{
    background: #e00000;
}

.Item-titulo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #e28000;
}

.Item-titulo:hover{
    color: #ff0000;
}

.buttonComp{
    color: red;
}