@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&family=Indie+Flower&family=Kenia&family=Nova+Square&family=Roboto+Mono&display=swap');

*{
    font-family: 'Nova Square', sans-serif; 
}
body{
    background-image:url(https://www.moto1pro.com/sites/default/files/1_bmwk1100lt_caferacer.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.clasecolores{
    background:
#ff0000
#e00000
#ffc340
#ff9800
#e28000
}

.navbar{
    background:wheat;
    
}

.bt{
    background: #e00000;
}

.Item-titulo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #e28000;
    font-family: 'Nova Square', sans-serif;
}

.Item-titulo:hover{
    color: #ff0000;
}

.buttonComp{
    background: #e00000;
    font-family: 'Nova Square', sans-serif; 
}



.Nav-logo{
    animation-name: girarb;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girarb{
    from{
transform:rotate(0deg);
    }to{
transform:rotate(360deg);
    }
}
.ListGroup{
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   width: 95%;  
   background: rgba(233, 9, 16, 0.12);
   border-radius: 2px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
   border: 1px solid rgba(233, 9, 16, 0.4);

}